@model RapChieuPhim.Models.ThongTin
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Welcome to @Session["HoTenAdmin"]</h4>
                    <span class="ml-1">Nhân viên</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Nhân viên</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Thêm nhân viên</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">

                            @using (Html.BeginForm("Create","TaiKhoans",FormMethod.Post,new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Thông tin nhân viên</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Tên nhân viên
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Địa chỉ
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Giới tính
                                    </div>
                                    <div class="col-md-10">
                                        <select class="form-control" name="GioiTinh">
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Ngày sinh
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Email
                                    </div>
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Mật khẩu
                                    </div>
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <input type="text" name="MatKhau" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2" style="color:black;font-size:20px;">
                                        Phân quyền
                                    </div>
                                    <div class="col-md-10">
                                        <select name="PhanQuyen" class="form-control">
                                            <option value="1">Admin</option>
                                            <option value="2">Thu ngân</option>
                                            <option value="3">Nhân viên lịch chiếu</option>
                                            <option value="4">Nhân viên phòng chiếu</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Thêm nhân viên" class="btn btn-primary" />
                                    </div>
                                </div>




                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
