@using RapChieuPhim.Models
@model PagedList.IPagedList<RapChieuPhim.Models.Ghe>
@using PagedList.Mvc;
@using PagedList;
@{ ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
                var list = ViewData["loai"] as List<LoaiGhe>;
                var listp = ViewData["phong"] as List<Phong>; }

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Welcome to @Session["nguoi"]</h4>
                    <span class="ml-1">Ghế</span>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary" href="/Admin/Ghe/Create">Thêm ghế</a>
                    </div>
                    <div class="row">
                        <div class="col-md-7"></div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" style="color:black;">
                                <tr style="color:black;text-align:center">
                                    <th>Mã ghế</th>
                                    <th>Tên ghế</th>
                                    <th>Tên phòng</th>
                                    <th>Loại ghế</th>
                                    <th>Hàng ghế</th>
                                    @*<th>Tình trạng</th>*@
                                    <th>Thao tác</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                    <tr class="text-center">
                        <td style="width:60px;text-align:center">
                            GHE_@item.ghe_id
                        </td>
                        <td style="width:160px;">
                            @item.TenGhe
                        </td>
                        <td>
                            @listp.FirstOrDefault(g => g.Id == item.Id_phong).TenPhong
                        </td>

                        <td style="width:300px">
                            @list.FirstOrDefault(g => g.Id == item.Loai_id).TenLoaiGhe
                        </td>

                        <td>
                            @item.HangGhe
                        </td>
                        @*@if (item.TringTrang == true)
                        {
        <td style="color:red">Đã đặt</td> }
                        else
                        {
        <td style="color:forestgreen">
            Chưa đặt
        </td>}*@
                        <td>
                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.ghe_id }, new { @class = "btn btn-primary" })
                            <br />
                            <br />
                            @Html.ActionLink("Xóa", "Delete", new { id = item.ghe_id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right" style="color:black">
        @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>
    <div class="col-md-12" style="text-align:right;color:black">
        Tổng số bản ghi: @ViewBag.total &nbsp;
    </div>
    <ul class="pagination" style="float:right">

        @for (int i = 1; i <= Model.PageCount; i++)
        {
<li>
    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
</li>
}
    </ul>
</div>
@if (Request["sc"] == "1")
{
    <script>
        alert("Hàng đã đủ ghế không thể thêm ghế mới.");
    </script>
}